<%# views/movies/new.ejs %>


<h1>Create a movie</h1>

<form action="/movies" method="POST">
  <label for="title">Title</label>
  <input id="title" type="text" name="title" />

  <br />

  <label for="description">Description</label>
  <input id="description" type="text" name="description" />

  <label for="director_id">Director</label>
  <select id="director_id" name="director_id">
    <% directors.forEach(director => { %>
      <option value="<%= director.id %>">
        <%= `${director.first_name} ${director.last_name}` %>
      </option>
    <% }) %>
  </select> 

  <br />

  <input type="submit" value="Create the movie!" />
</form>

<a href="/movies">Cancel</a>



