<h2>
  All teachers
</h2>

<h4>
  There are <%= @teachers.count %> teachers
</h4>

<ul>
  <% @teachers.each do |teacher| %>
    <li>
      <%= link_to teacher.name, teacher_path(teacher) %>
    </li>
  <% end %>
</ul>
